.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__card{
        display: flex;
        flex-direction: column;
        width: 22rem;
        background-color: $veryDarkBlueCard;
        position: relative;
        margin-top: 9.375rem;
        padding: 1.5rem;
        border-radius: 18px;

        img{
            width: 18.75rem;
            height: 18.75rem;
            border-radius: 10px;
        }
        h2{
            color: $white;
            font-size: 20px;
        }
    }
    &__p{
        margin-top: 0;
    }
}